# App name
EXPO_PUBLIC_APP_NAME=Dev DemoApp

# Slug name
EXPO_PUBLIC_SLUG_NAME=demoapp-dev

# API Url
EXPO_PUBLIC_API_URL=https://dev-api.com/

# Android app ID. Define on google play
EXPO_PUBLIC_ANDROID_APP_ID=com.demoapp.dev

# Android app version name, define on google play
EXPO_PUBLIC_ANDROID_APP_VERSION_NAME=1.1.0

# Android version code, this is an unique code on google play
EXPO_PUBLIC_ANDROID_APP_VERSION_CODE=1

# Bundle ID of app on app store
EXPO_PUBLIC_IOS_APP_ID=com.demoapp.dev

# Version name on apple store
EXPO_PUBLIC_IOS_APP_VERSION_CODE=1.0.0

# Build code on app store, unique for each version
EXPO_PUBLIC_IOS_APP_BUILD_CODE=1

# dynamic link
EXPO_PUBLIC_DYNAMIC_LINK="demo://home"
EXPO_PUBLIC_URL_WEB="https://demo.com"